<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f7f7f7;
    }
    .login-container {
      width: 100%;
      max-width: 400px;
      padding: 15px;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>

<div class="login-container">
  <h2 class="text-center">Login</h2>
  <form action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="email" class="form-label">User Name</label>
      <input type="text" class="form-control" id="email" name="username" placeholder="Enter Username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <div class="d-grid mb-3">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <div class="d-flex justify-content-between">
      <a href="#" class="text-decoration-none">Forgot Password?</a>
      <a href="{% url 'sign_upPage' %}" class="text-decoration-none">Sign Up</a>
    </div>
  </form>
</div>

</body>
</html>
