<div class="navbar">
    <div class="left">
        <a href="{% url "homePage" %}">Home</a>
        <a href="">For Admin</a>
        <a href="">For User</a>
    </div>
    <div class="right">
        <div class="if_login">
            <img src="" alt="" class="profile-pic">
            <div class="dropdown">
                <a href="">View Profile</a>
                <a href="#">Edit Profile</a>
                <a href="">Password change</a>
                <a href="">Logout</a>
            </div>
        </div>
        <a href="" target="mane">Login</a>
    </div>
</div>